In [4]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
%%sql

show tables;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('demo',)]

In [5]:
%%sql

show databases;

 * mysql+mysqlconnector://root:***@localhost/test
7 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('world',)]

In [6]:
%%sql

create database de_project

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [7]:
%%sql

show databases;

 * mysql+mysqlconnector://root:***@localhost/test
8 rows affected.

[('de_project',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('world',)]

In [9]:
%%sql

use de_project;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [ ]:
%%sql

create table testv1 (
    sno int,
    name varchar(100)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [13]:
%%sql

select * from testv1;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [16]:
%%sql

insert into testv1 (sno,name) values(1,'sam');

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1, 'sam')]