In [3]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%%sql

show tables;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('demo',)]