In [4]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
%%sql

show tables;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('demo',)]

In [5]:
%%sql

show databases;

 * mysql+mysqlconnector://root:***@localhost/test
7 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('world',)]